.moviesInput {
  padding: 5px;
}
.movieSearchForm {
  margin: 10px;
  display: flex;
  gap: 10px;
}
.submitBtn {
  background-color: rgb(126, 3, 126);
  border: none;
  color: azure;
  display: flex;
  padding: 5px 10px;
  align-items: center;
}
.submitBtn:hover,
.submitBtn:active {
  opacity: 0.7;
}
